
.card-component {
  position: relative;
  width: 535px;
  height: 409px;
  margin-left: 20px;
  border-radius: 24px;
  overflow: hidden;
  cursor: pointer;
  flex: 0 0 auto;
}

/* IMAGE */
.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* FLOATING TITLE (visible siempre) */
.card-floating-title {
  position: absolute;
  top: 24px;
  left: 24px;
  color: #ffffff;
  font-size: var(--title-sm-size);
  font-weight: var(--title-sm-weight);
  text-shadow: 0px 2px 6px rgba(0,0,0,0.3);
  z-index: 3;
}

/* HOVER OVERLAY */
.card-hover {
  position: absolute;
  inset: 0;
  padding: 32px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);

  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;

  transition: opacity 0.35s ease-out;
}

.card-component:hover .card-hover {
  opacity: 1;
}

/* DESCRIPTION */
.card-hover-description {
  color: #ffffff;
  opacity: 0.9;
  line-height: 140%;
  max-width: 360px;
}

/* BUTTON */
.card-hover-button {
  align-self: flex-start;
  padding: 10px 22px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.92);
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: 0.25s ease;
  border: 1px solid white;

}

.card-hover-button:hover {
  background: #fff;
  transform: translateY(-2px);
  color: black;
}

/* MOBILE */
@media (max-width: 768px) {
  .card-component {
    width: 85vw;
    height: 280px;
    border-radius: 20px;
  }

  .card-floating-title {
    top: 16px;
    right: 16px;
  }

  .card-hover {
    padding: 20px;
  }
}
