/* -------- DESKTOP (default) -------- */
.hub-card {
  background: white;
  border-radius: 22px;
  padding: 32px 36px;
  min-height: 300px;
  display: grid;
  grid-template-columns: 0.8fr 1fr 1fr;
  align-items: center;
  gap: 28px;
  box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.07);
  position: relative;
}

/* ICON + TITLE */
.hub-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.hub-left-icon {
  width: 28px;
  height: 28px;
}

.hub-left-title {
  font-size: var(--headline-small-size);
  font-weight: var(--headline-small-weight);
  line-height: var(--headline-small-line);
  background: linear-gradient(90deg, #55bbc4, #8a4af3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  font-family: var(--font-display);
}

/* CENTER IMAGE */
.hub-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.hub-center img {
  width: auto;
  max-height: 190px;
  /* max-width: 320px; */
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* RIGHT TEXT */
.hub-right {
  align-self: center;
}

.hub-right-desc {
  color: var(--color-text-light);
  font-size: var(--body-md-size);
  line-height: 150%;
  margin-bottom: 12px;
}

.hub-right-desc-light {
  color: var(--text-on-white);
  font-size: var(--body-default-size);
  line-height: 150%;
}

/* -------- TABLET / MOBILE -------- */
@media (max-width: 1024px) {
  .hub-card {
    grid-template-columns: 1fr;
    padding: 26px;
    gap: 20px;
  }

  .hub-center {
    display: none;
  }

  .hub-left {
    justify-content: flex-start;
  }

  .hub-right-desc,
  .hub-right-desc-light {
    max-width: none;
  }
}
