
.floating-node {
  translate: 0 0;
  transition: translate 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@media (hover: hover) and (pointer: fine) {
  .floating-node:hover {
    translate: 0 -6px;
  }
}
.floating-node {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 99999999999999999999999999;

  width: 60px;
  height: 60px;

  padding: 0;
  border: none;
  border-radius: 50%;
  

  background: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}




.fn-outer-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  background: rgba(60, 60, 60, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  display: flex;
  align-items: center;
  justify-content: center;
}


.fn-ring {
  width: 32px;
  height: 32px;

  --ring-width: 4px;
  border-radius: 50%;

  background: conic-gradient(
    #33d6ff,
    #2d9dff,
    #4f47ff,
    #9b1fff,
    #33d6ff
  );

  mask:
  radial-gradient(circle, transparent calc(50% - var(--ring-width)), black calc(50% - var(--ring-width) + 1px)),
  radial-gradient(circle, black 50%, transparent 51%);

mask-composite: intersect;

-webkit-mask:
  radial-gradient(circle, transparent calc(50% - var(--ring-width)), black calc(50% - var(--ring-width) + 1px)),
  radial-gradient(circle, black 50%, transparent 51%);

-webkit-mask-composite: source-in;

}


/* =========================================================
   TEXT (visible solo en expanded)
   ========================================================= */

.fn-text {
  display: none;
  opacity: 0;

  line-height: 1.3;
  font-weight: 400;
  color: #eeeeee;
  white-space: nowrap;
    font-size: var(--body-sm-size);
  pointer-events: none;
}




.floating-node.expanded {
  width: auto;            
  height: 60px;           
  padding-left: 16px;     
  padding-right: 16px;   
  gap: 16px;             

  border-radius: 999px;


  background: rgba(60, 60, 60, 0.8);
  backdrop-filter: blur(12px);

  display: flex;
  align-items: center;
}


.floating-node.expanded .fn-outer-circle {
  width: 48px;   
  height: 48px;    
}

.floating-node.expanded .fn-ring {
  width: 48px;
  height: 48px;

  --ring-width: 7px;

  background: conic-gradient(
    #33d6ff,
    #2d9dff,
    #4f47ff,
    #9b1fff,
    #33d6ff
  );

  mask:
  radial-gradient(circle, transparent calc(50% - var(--ring-width)), black calc(50% - var(--ring-width) + 1px)),
  radial-gradient(circle, black 50%, transparent 51%);

mask-composite: intersect;

-webkit-mask:
  radial-gradient(circle, transparent calc(50% - var(--ring-width)), black calc(50% - var(--ring-width) + 1px)),
  radial-gradient(circle, black 50%, transparent 51%);

-webkit-mask-composite: source-in;

}

.floating-node.expanded .fn-text {
  display: block;
  opacity: 1;
}


